<main>
    <header class="flex space-bt">
        <button class="clean-btn" (click)="goTo('/contact' + (contact._id ? '/' + contact._id :  ''))"><img class="icon" src="../../../assets/img/arrow_back-24px.svg" alt=""></button>
    </header>
    <section class="flex col center">
        <img src="../../../assets/img/contact.png" alt="">
        <form (ngSubmit)="onSaveContact()" class="flex col">
            <label>
                Name:
                <br>
                <input [(ngModel)]="contact.name" name="name" placeholder="Name" />
            </label>
            <label>
                Phone:
                <br>
                <input [(ngModel)]="contact.phone" name="phone" placeholder="Phone" />
            </label>
            <label>
                Email:
                <br>
                <input [(ngModel)]="contact.email" name="email" placeholder="email" />
            </label>

            <div class="btns flex space-bt">
                <button class="pink-btn fade" type="button" (click)="cancel()">CANCEL</button>
                <button class="pink-btn" type="submit">SUBMIT</button>
            </div>
        </form>
    </section>
</main>