<div *ngIf="user" class="home-container">
    <section class="flex align-end">
        <img src="../../../assets/img/contact.png" alt="">
        <h1>Hi, {{user.name}}</h1>
    </section>
    <hr>
    <main class="flex col">
        <section class="user-details flex">
            <div class="flex col">
                <small>Corrent Balance:</small>
                <h4>BTC: <span>{{numberWithCommas(user.coins)}}</span></h4>
                <h4>USD: <span>${{numberWithCommas(user.coins * rateFloor)}}</span></h4>
            </div>
            <div class="flex col">
                <small>Corrent BTC-USD:</small>
                <h2>${{numberWithCommas(rateForDisplay)}}</h2>
            </div>
        </section>
        <section class="dashboard">
            <dashboard class="ag-theme-alpine-dark"></dashboard>

        </section>
        <move-list [moves]="user.moves"></move-list>
    </main>

</div>